.portfolio-btn {
  /* Button Text */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  color: #404bbf;
  background-color: #f4f4fd;
  background-color: transparent 50%;
  border-color: #e7e9fc;
  border-color: transparent 50%;
}
.portfolio-btn:hover {
  /* Button Text */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  color: #fff;
  background-color: #404bbf;
  background-color: transparent 50%;
  border-color: #404bbf;
  border-color: transparent 50%;
}

.portfolio-btn:focus {
  /* Button Text */
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 150% */
  letter-spacing: 0.64px;
  color: #fff;
  background-color: #404bbf;
  background-color: transparent 50%;
  border-color: #404bbf;
  border-color: transparent 50%;
}
